main {
    /* ---- JUMBOTRON ---- */

    padding-top: 120px;
    .jumbotron{
        padding-bottom: 80px;
        @include my-flex (center,center,row);
        &>div{
            flex-basis: 50%;
            h1 {
                text-transform: $uppercased;
                font-weight: 500;
                font-size: 60px;
            }
            p {
                font-size: 24px;
                padding-bottom: $common_padding;
            }
            ul {
                li {
                    text-align: -webkit-match-parent;
                    font-size: 20px;
                }
            }   
        }
        .wrapper {
            height: 100%;
            @include my-flex(center,center,row);
            img {
                margin: auto;
                object-fit: contain;
                max-width: 500px;
                height: auto;
            }
        }
        
    }

    /* ----- SECTION 2 : INFODATA ---- */

    #info-data {
        
        background-color: $main-color;
        color: white;
        .container {
            @include my-flex(space-between,center,row);
            div {
               @include my-flex(space-between, center, column); 
               padding: 40px 10px;
               flex-basis: 280px;
               max-width: 280px;
               text-align: center;

                h3 {
                    font-size: 45px;
                    padding-bottom: 10px;
                }
                p {
                    font-size: $normal_paragraphs;
                    line-height: 28px;
                }
            }
        }
    }

    /* ----- SECTION 3 : PARTNERS ----- */

    #relative-businesses {
        background-color: $text_color_two;
        color: $color_darkgrey;
        font-size: $normal_paragraphs;
        padding-bottom: 30px;

        .container {
            padding: 0 $common_padding;
            &.clearfix::after {
                content: "";
                clear: both;
                display: table;
            }
        }

        .logos-wrapper {

            &.clearfix::after {
                content: "";
                clear: both;
                display: table;
              }
            img {
                max-width: 250px;
            }
            &.start {
               div {
                   float: left;
                   width: 30%;
                   padding: $common_padding;
               } 
            }
        
            &.end {
                div {
                    float: right;
                    width: 30%;
                    padding: $common_padding;
                } 
             }
        }
    }

    /* ----- PAGE: FAQS ----- */

    &#faq-page {

        %spaces {
            padding-left: 60px;
            padding-right: 60px;
            padding-bottom: 60px;
        }
        .title {
            @extend %spaces;
        }


        h1 {
            font-weight: 500;
            font-size: 40px;
        }

        p {
            font-size: $normal_paragraphs;
        }

        .faqs-wrapper {
            &.clearfix::after {
                content: '';
                display: table;
                clear: both;
            }
            .box {
                min-height: 805px;
                width: 50%;
                float: left;
                &.prima-corso {
                    color: $main_color;
                    background-color: $section_light_color;
                    height: 100%;
                }
                &.dopo-corso {
                    color: $text_color_two;
                    background-color: $main-color;
                }
                .content {
                   @extend %spaces;
                   h3 {
                        font-size: $important_text;
                        padding: 50px 0;
                   }
                   .faq {
                       padding: $common_padding 0;
                       position: relative;
                       h4 {
                           font-size: 26px;
                           padding-bottom: 5px;
                       }
                       p {
                            font-size: 18px;
                       }
                       i {
                           position: absolute;
                           top: 26px;
                           right: 0;
                           display: none;
                       }
                       i.active {
                           display: inline;
                       }
                   }
                }
            }
        }
    }
}