@media (max-width: 1000px) {
    header {
        height: 80px;
        button, nav {
            display: none;
        }
        .img-wrapper {
            @include my-flex(center,center,column);
            width: 100%;
            text-align: center;
            img {
                height: 40px;
            }
        }
        
        i.fas {
            align-self: flex;
            display: inline-block;
            font-size: 20px;
            color: $color_darkgrey;
            align-self: flex-end;
            line-height: 40px;
        }
    }

    .container {
        width:100%;
    }

    footer {
        padding-top: 40px;
        .footer-top {
            @include my-flex(center,center,column-reverse)
        }
        & .container>div {
            text-align: center;
            padding-top: $common-padding;
            
            ul {
                text-align: center;
                padding-top: $common-padding;
            }
        }
    }
    
} 