$main_color: rgb(28, 61, 89);
$text_color_two: rgb(255, 255, 255);
$section_light_color: rgb(232, 235, 241);
$details_color: rgb(115, 212, 98);
$common_padding: 20px;
$uppercased: uppercase;
$color_darkgrey: rgb(138, 138, 138);
$normal_paragraphs: 20px;
$important_text: 35px;